# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/3rdparty/assimp
/3rdparty/glew-2.2.0
/3rdparty/glfw-3.3.8.bin.WIN32
/3rdparty/glm
/3rdparty/imgui
/3rdparty/stb
/bin/*.pdb
/src/out
